.navbar-container {
  background-color: var(--color-background-a);
  position: sticky;
  top: 0;
  padding: 0 var(--margin);
  z-index: 10;
  border-bottom: solid 1px var(--color-background-2);
  backdrop-filter: blur(8px);
}
.navbar {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 70px;
  column-gap: var(--column-gap-0);
}
.navbar-logo {
  display: flex;
  align-self: center;
  align-items: center;
  color: var(--color-foreground);
  column-gap: 16px;
  text-decoration: none;

  & svg {
    height: 55px;
    width: auto;
  }

  & .logo-letters {
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 600;

    > span:nth-child(1) {
      letter-spacing: -0.05em;
    }
    > span:nth-child(2) {
      letter-spacing: -0.02em;
    }
    > span:nth-child(3),
    > span:nth-child(4) {
      letter-spacing: -0.04em;
    }
    @media (max-width: 900px) {
      display: none;
    }
  }
  .logo-light {
    transition: opacity 500ms;
  }
  &:hover .logo-light {
    opacity: 1;
  }
}
.navbar-menu {
  font: var(--text-caption-bold);
  letter-spacing: var(--text-caption-spacing);
  flex: 1 1 auto;
  width: 0;
  padding-left: 20px;

  & a {
    color: var(--color-foreground);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 1em;
    height: 70px;
    white-space: nowrap;

    &:hover {
      background-image: linear-gradient(
        var(--color-foreground),
        var(--color-foreground)
      );
      background-repeat: no-repeat;
      background-size: calc(100% - 2em) 1px;
      background-position: center bottom;
    }
    &.is-dropdown-link:hover {
      background: var(--color-background-2);
    }

    &.is-selected {
      color: var(--color-foreground-1);
      background: var(--color-background-1);
    }
  }

  &::part(menu) {
    column-gap: 10px;
  }

  &::part(links) {
    justify-content: end;
  }

  &::part(dropdown-button) {
    background-color: var(--color-background-2);
    color: var(--color-foreground-1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    border: solid 2px transparent;
  }
  &::part(dropdown-links) {
    top: 70px;
    left: 0;
    width: 100%;
    position: absolute;
    background-color: var(--color-background);
    border: solid 1px var(--color-background-2);
    box-shadow: 0 20px 50px #3333;
  }
}

.navbar-menu::part(dropdown-button):hover {
  border: solid 2px var(--color-foreground);
  background-color: var(--color-background);
}

.navbar-search {
  --docsearch-searchbox-background: var(--color-background-2);
  --docsearch-text-color: var(--color-foreground-1);
  --docsearch-searchbox-focus-background: var(--color-background-1);
  --docsearch-searchbox-shadow: inset 0 0 0 2px var(--color-foreground-1);
  align-self: center;
  padding: 0;
  margin: 0;
  min-height: 36px;
}
@media (max-width: 768px) {
  .navbar-search {
    min-width: auto;
    min-height: auto;
  }

  .DocSearch-Container {
    position: fixed
      !important; /* This overrides the docsearch modal `position: absolute`, fixes position issue on chrome (mobile) */
  }
}
.DocSearch-Button {
  margin: 0 !important; /* Remove extra space at the left */
}
