lume-shield {
  --color: var(--color-primary);
  display: inline-block;
  font: var(--text-caption-mini);
  border-radius: var(--border-radius-small);
  overflow: hidden;
  margin-right: 0.25em;

  span {
    padding: 0.25em 1em 0.25em 0.5em;
    background-color: var(--color);
  }

  a {
    text-decoration: none;
    display: inline-flex;
    align-items: baseline;
    column-gap: 0.5em;
    background-color: var(--color-black-180);
    color: var(--color-white);
    padding-left: 1em;

    &:hover {
      background-color: var(--color-black-140);
      span {
        background-color: color-mix(in srgb, var(--color), black 10%);
      }
    }
  }
}
