.terminal {
  display: flex;

  & pre {
    width: fit-content;
    background: var(--color-black-140);
    color: var(--color-black-860);
    padding: 15px 60px 15px 20px;
    border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100px;
      background: linear-gradient(
        to right,
        transparent,
        var(--color-black-140) 50%
      );
    }

    & code {
      scrollbar-width: none;
      display: block;
      overflow-x: auto;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &:last-child {
      border-radius: var(--border-radius-small);
    }
  }
}
.terminal-copy {
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 2;

  button {
    padding: 4px;
    border-radius: var(--border-radius-small);
    border: none;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: var(--color-black-140);
    color: var(--color-black-860);
    cursor: pointer;

    &:hover {
      background: var(--color-black-240);
    }
  }

  .tooltip {
    position: absolute;
    height: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    top: 0;
    right: calc(100% + 0.5em);
    color: var(--color-black-140);
    background: var(--color-black-860);
    padding: 0.5em;
    border-radius: var(--border-radius-small);
    animation: showcopy 2s;
  }

  svg {
    display: block;
    fill: currentColor;
  }
}
.terminal-cta {
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
  background: var(--color-primary);
  color: white;
  padding: 0 15px;
  font: var(--text-body-bold);
  letter-spacing: var(--text-body-spacing);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: background var(--animation-duration);

  & svg,
  & path {
    fill: currentColor;
  }

  &:hover {
    background: var(--color-primary-1);
  }
}

@keyframes showcopy {
  0% {
    opacity: 0;
    transform: translate(50%);
  }
  20%, 80% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%);
  }
}
