.type {
  padding: 1em;
  background: var(--color-background-1);
  border: solid 1px var(--color-background-2);
  border-radius: var(--border-radius-small);

  > div + div {
    border-top: solid 1px var(--color-background-2);
    padding-top: .5em;
    margin-top: .5em;
  }

  .type-name {
    font: var(--text-caption-bold);
    color: var(--color-foreground);

    & strong {
      display: inline-block;
      margin-right: .5em;
    }

    & em {
      font: var(--text-caption-mini);
      color: var(--color-foreground-1);
      background: var(--color-background-3);
      display: inline-block;
      padding: 0 .5em;
      border-radius: var(--border-radius-small);
    }
  }
  .type-details {
    font: var(--text-caption);
    margin-left: 0;
    
    & p {
      margin: .25em 0;
      font: var(--text-caption);
      color: var(--color-foreground-1);
    }
  }

  .type {
    padding-left: 1.5em;
    padding-right: 0;
    border: none;
  }

  .type-default {
    & summary {
      cursor: pointer;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    & pre {
      margin-top: .5em;
    }
  }
}
