.type {
  padding: 1em;
  background: var(--color-background-1);
  border: solid 1px var(--color-background-2);
  border-radius: var(--border-radius-small);

  > div {
    padding-left: 16px;
  }

  > div + div {
    border-top: solid 1px var(--color-background-2);
    padding-top: 0.75em;
    margin-top: 0.75em;
  }

  .type-name {
    font: var(--text-caption-bold);
    color: var(--color-foreground);
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      background-color: var(--color-primary);
      position: absolute;
      bottom: 6px;
      left: -18px;
      border-radius: 50%;
    }

    & strong {
      display: inline-block;
      margin-right: 0.5em;
    }

    & em {
      font: var(--text-caption-mini);
      color: var(--color-foreground-1);
      background: var(--color-background-3);
      display: inline-block;
      padding: 0 0.5em;
      border-radius: var(--border-radius-small);
    }
  }
  .type-details {
    font: var(--text-caption);
    margin-left: 0;

    & p {
      margin: 0;
      font: var(--text-caption);
      color: var(--color-foreground-1);
    }

    & pre {
      display: inline-block;
      vertical-align: top;
      font-size: inherit;
      max-width: 100%;
      max-height: 200px;
    }

    & code {
      font-size: inherit;
      margin: 0;
      padding: 0 0.3em !important;
      background: var(--color-background);
    }
  }

  .type {
    padding-left: 1.5em;
    padding-right: 0;
    border: none;
  }
}
