@font-face {
  font-family: "Inter";
  font-weight: 400 600;
  font-display: swap;
  font-style: oblique 0 10deg;
  src: url("/fonts/inter.woff2") format("woff2");
}

@font-face {
  font-family: "Epilogue";
  font-weight: 600 700;
  font-display: swap;
  src: url("/fonts/epilogue.woff2") format("woff2");
}

@font-face {
  font-family: "Epilogue-fallback";
  size-adjust: 99%;
  ascent-override: 80%;
  src: local("Verdana");
}

@font-face {
  font-family: "JetBrains-fallback";
  size-adjust: 108.00%;
  src: local("Consolas");
}
