@import "./fonts.css";

:root {
  /* Fonts */
  --font-display: Epilogue, var(--font-ui);
  --font-ui: Inter, -apple-system, system-ui, Inter, sans-serif;
  --font-code: 'JetBrains Mono';

  /* Text styles */
  --text-display-size: clamp(30px, 12vw, 75px);
  --text-display-height: 0.95;
  --text-display: 700 var(--text-display-size)/var(--text-display-height) var(--font-display);
  --text-display-spacing: -0.025em;
  --text-heading-size: clamp(20px, 8vw, 50px);
  --text-heading: 700 var(--text-heading-size)/1.1 var(--font-display);
  --text-heading-spacing: -0.03em;
  --text-title-size: clamp(20px, 6vw, 30px);
  --text-title: 600 var(--text-title-size)/1.2 var(--font-display);
  --text-title-spacing: -0.03em;
  --text-body-size: clamp(16px, 4vw, 20px);
  --text-body: var(--text-body-size)/1.65 var(--font-ui);
  --text-body-bold: 600 var(--text-body-size)/1.6 var(--font-ui);
  --text-body-spacing: -0.02em;
  --text-caption: 15px/1.6 var(--font-ui);
  --text-caption-bold: 600 15px/1.6 var(--font-ui);
  --text-caption-mini: 12px/1.6 var(--font-ui);
  --text-caption-mini-bold: 600 12px/1.6 var(--font-ui);
  --text-code: 16px/1.6 var(--font-code);

  /* Colors */
  --color-primary: hsl(0deg, 50%, 50%);
  --color-primary-1: hsl(0deg, 50%, 40%);
  --color-foreground: hsl(0deg, 0%, 20%);
  --color-foreground-1: hsl(0deg, 0%, 40%);
  --color-background: hsl(200deg, 20%, 100%);
  --color-background-a: hsla(200deg, 20%, 100%, 0.9);
  --color-background-1: hsl(200deg, 20%, 96%);
  --color-background-2: hsl(200deg, 20%, 92%);
  --color-background-3: hsl(200deg, 20%, 86%);

  /* Borders */
  --border-radius-small: 5px;
  --border-radius: 10px;

  /* Animation */
  --animation-duration: 0.2s;

  /* Spaces */
  --margin: max(25px, 5vw);
  --max-width: 1200px;
  --column-gap-0: 10px;
  --column-gap-1: 25px;
  --column-gap-2: 50px;
  --column-gap-3: 100px;
  --row-gap-0: 25px;
  --row-gap-1: clamp(20px, 5vh, 50px);
  --row-gap-2: clamp(40px, 10vh, 100px);
  --row-gap-3: clamp(60px, 15vh, 150px);
  --row-gap-4: clamp(80px, 20vh, 200px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: hsl(0deg, 70%, 60%);
    --color-primary-1: hsl(0deg, 50%, 40%);
    --color-foreground: hsl(0deg, 0%, 100%);
    --color-foreground-1: hsl(0deg, 0%, 60%);
    --color-background: hsl(200deg, 20%, 10%);
    --color-background-a: hsla(200deg, 20%, 10%, 0.9);
    --color-background-1: hsl(200deg, 20%, 14%);
    --color-background-2: hsl(200deg, 20%, 18%);
    --color-background-3: hsl(200deg, 20%, 24%);
  }
}