.error {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding: var(--row-gap-2) 5vw;

  & h1 {
    font: var(--text-display);
    letter-spacing: var(--text-display-spacing);
    text-align: center;
    margin: 0 0 var(--row-gap-2) 0;

    & span {
      color: var(--color-primary);
    }
  }

  & p {
    font: var(--text-body);
    letter-spacing: var(--text-body-spacing);
    color: var(--color-foreground-1);
    text-align: center;
  }
}