.plugins {
  display: grid;
  row-gap: var(--row-gap-1);
  column-gap: var(--margin);
  grid-template-columns: 0 minmax(0, var(--max-width)) 0;
  justify-content: space-between;
  padding-top: var(--row-gap-2);
  padding-bottom: var(--row-gap-2);
  align-self: start;

  & > * {
    grid-column: 2;
  }
}

.plugins-header {
  max-width: 600px;
  margin: 0 auto;

  & h1 {
    font: var(--text-display);
    letter-spacing: var(--text-display-spacing);
    text-align: center;
    margin: 0;
  }
  & p {
    font: var(--text-body);
    letter-spacing: var(--text-body-spacing);
    color: var(--color-foreground-1);
    text-align: center;
    text-wrap: balance;
  }
}

.plugins-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5px;
  row-gap: 5px;
}

.plugins-list {
  list-style: none;
  margin: var(--row-gap-1) 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  row-gap: var(--row-gap-0);
  column-gap: var(--column-gap-1);
}
.plugin {
  border: solid 1px var(--color-background-2);
  padding: 20px;
  border-radius: var(--border-radius);
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &[hidden] {
    display: none;
  }
  &.is-enabled {
    background-color: var(--color-background-1);
  }
}
.plugin-info {
  font: var(--text-caption);
  color: var(--color-foreground-1);
  text-decoration: none;
  margin: 0;
  flex: 1 1 auto;

  & p {
    margin: 0;
  }

  &:hover {
    & .plugin-name {
      text-decoration: underline;
    }
  }
}
.plugin-name {
  font: var(--text-body-bold);
  letter-spacing: var(--text-body-spacing);
  color: var(--color-foreground);
  display: block;
}

.plugin-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  & .button {
    --color: black;

    /* Colors */
    &.is-color-lemonchiffon {
      --background: lemonchiffon;
    }
    &.is-color-tomato {
      --background: tomato;
    }
    &.is-color-violet {
      --background: violet;
    }
    &.is-color-gold {
      --background: gold;
    }
    &.is-color-lightskyblue {
      --background: lightskyblue;
    }
    &.is-color-mediumseagreen {
      --background: mediumseagreen;
    }
    &.is-color-lightgreen {
      --background: lightgreen;
    }
    &.is-color-pink {
      --background: pink;
    }
    &.is-color-lightgray {
      --background: lightgray;
    }
    &.is-color-mediumpurple {
      --background: mediumpurple;
    }
  }
}

.plugins-filter .button {
  --color-active: black;

  /* Colors */
  &.is-color-lemonchiffon {
    --background-active: lemonchiffon;
    --accent: lemonchiffon;
  }
  &.is-color-tomato {
    --background-active: tomato;
    --accent: tomato;
  }
  &.is-color-violet {
    --background-active: violet;
    --accent: violet;
  }
  &.is-color-gold {
    --background-active: gold;
    --accent: gold;
  }
  &.is-color-mediumseagreen {
    --background-active: mediumseagreen;
    --accent: mediumseagreen;
  }
  &.is-color-lightskyblue {
    --background-active: lightskyblue;
    --accent: lightskyblue;
  }
  &.is-color-lightgreen {
    --background-active: lightgreen;
    --accent: lightgreen;
  }
  &.is-color-pink {
    --background-active: pink;
    --accent: pink;
  }
  &.is-color-lightgray {
    --background-active: lightgray;
    --accent: lightgray;
  }
  &.is-color-mediumpurple {
    --background-active: mediumpurple;
    --accent: mediumpurple;
  }
}

.plugins-more {
  margin-top: var(--row-gap-1);
  width: 100%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;

  > header {
    text-align: center;
    margin: 0 0 var(--row-gap-1);

    h2 {
      font: var(--text-title);
      letter-spacing: var(--text-title-spacing);
      margin: 0;
    }

    p {
      margin: 0;
      font: var(--text-body);
      letter-spacing: var(--text-body-spacing);
      color: var(--color-foreground-1);
    }
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: var(--column-gap-2);
    column-width: 200px;

    > li {
      break-inside: avoid;
      margin-bottom: var(--row-gap-1);
    }
  }

  & .plugin-name {
    font: var(--text-caption-bold);
    letter-spacing: 0;
    display: block;
    margin: 0.3em 0;
  }
}

.plugins-empty {
  font: var(--text-heading);
  letter-spacing: var(--text-heading-spacing);
  text-align: center;
  text-wrap: balance;
  color: var(--color-background-3);
  padding: var(--row-gap-2) var(--column-gap-2);

  p {
    margin: 0;
  }
}