.showcase {
  display: grid;
  row-gap: var(--row-gap-1);
  column-gap: var(--margin);
  grid-template-columns: 0 minmax(300px, var(--max-width)) 0;
  justify-content: space-between;
  align-self: start;
  padding-top: var(--row-gap-2);

  & > * {
    grid-column: 2;
  }
}

.showcase-header {
  max-width: 800px;
  margin: 0 auto;

  & h1 {
    font: var(--text-display);
    letter-spacing: var(--text-display-spacing);
    text-align: center;
    margin: 0;
  }
  & p {
    font: var(--text-body);
    letter-spacing: var(--text-body-spacing);
    color: var(--color-foreground-1);
    text-align: center;
  }
}

.showcase-sites {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: var(--column-gap-1);
  row-gap: var(--row-gap-1);
}
.showcase-site {
  & img {
    display: block;
    max-width: 100%;
  }
}