<div class="footer-container">
  <footer class="footer">
    <p>
      Lume is the <a href="https://en.wikipedia.org/wiki/Galician_language">Galician</a> word for fire.<br>
      Crafted with ❤️ in Galiza by Oscar Otero (MIT License)</p>
  </footer>
</div>
