<div class="footer-container">
  <footer class="footer">
    <ul class="footer-links">
      <li><a href="https://discord.gg/YbTmpACHWB">Discord</a></li>
      <li><a href="https://github.com/lumeland">Github</a></li>
      <li><a href="https://opencollective.com/lume">Open Collective</a></li>
    </ul>
    <p>Crafted with ❤️ in Galiza by <a href="https://twitter.com/misteroom">Oscar Otero</a></p>
  </footer>
</div>
