@import "https://highlightjs.org/static/demo/styles/github.css";

.hljs {
  display: block;
  color: var(--color-black);
  background: var(--color-background-1);
  border-radius: var(--border-radius);
  border: solid 1px var(--color-background-2);
}

lume-code {
  display: block;
  
  & .hljs {
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
  }

  & .lume-code-menu {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
    background: var(--color-background-2);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    column-gap: 10px;
    overflow-x: auto;

    & li {
      margin: 0;
    }

    & .button.is-secondary {
      display: block;
      --background: var(--color-background-2);
      --background-hover: var(--color-background-3);
    }
  }
}
