.navbar-container {
  background-color: #fffe;
  position: sticky;
  top: 0;
  padding: 0 var(--margin);
  z-index: 10;
  border-bottom: solid 1px var(--color-background-2);
}
.navbar {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 80px;
  overflow-x: auto;
}
.navbar-logo {
  display: flex;
  align-self: center;
  align-items: center;
  color: var(--color-foreground);
  column-gap: 10px;
  text-decoration: none;
  font: var(--text-title);
  letter-spacing: var(--text-title-spacing);

  & svg {
    fill: currentColor;
    margin-bottom: 15px;
  }
}
.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font: var(--text-body-bold);
  letter-spacing: var(--text-body-spacing);

  & li {
    display: flex;
  }

  & a {
    color: var(--color-foreground);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 1em;

    &:hover {
      background-image: linear-gradient(var(--color-foreground), var(--color-foreground));
      background-repeat: no-repeat;
      background-size: calc(100% - 2em) 1px;
      background-position: center bottom;
    }

    &.is-selected {
      color: var(--color-foreground-1);
      background: var(--color-background-1);
    }
  }

  @media (max-width: 700px) {
    display: none;
  }
}
