.navbar-container {
  background-color: #fffe;
  position: sticky;
  top: 0;
  padding: 0 var(--margin);
  z-index: 10;
}
.navbar {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.navbar-logo {
  display: flex;
  align-items: center;
  color: var(--color-foreground);
  column-gap: 10px;
  text-decoration: none;
  font: var(--text-title);
  letter-spacing: var(--text-title-spacing);

  & svg {
    fill: currentColor;
  }
}
.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font: var(--text-body-bold);
  column-gap: 20px;

  & a {
    color: var(--color-foreground);
    text-decoration: none;
  }
}