<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Lume</title>
    <meta name="color-scheme" content="light dark">

    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
    <script>
      const root = document.documentElement;

      const mediaQuery = "(prefers-color-scheme: dark)";
      const mediaMatch = window.matchMedia(mediaQuery);

      const getCurrentMode = () => mediaMatch.matches ? "dark" : "light";

      const storeTheme = (theme) => {
        const targetTheme = typeof theme === "boolean"
          ? (theme ? "dark" : "light")
          : theme;
        root.setAttribute("data-theme", targetTheme);
        localStorage.setItem("data-theme", targetTheme);
      };

      const storedTheme = localStorage.getItem("data-theme") || getCurrentMode();
      storeTheme(storedTheme);

      mediaMatch.addEventListener("change", (e) => storeTheme(e.matches));

      window.addEventListener("DOMContentLoaded", () => {
        document.getElementById("switch-theme").addEventListener("click", () => {
          const currentTheme = localStorage.getItem("data-theme") === "light" ||
            getComputedStyle(root).getPropertyValue("color-scheme") === "light";
          storeTheme(!currentTheme);
        });
      }, false);
    </script>
    <link rel="stylesheet" href="/styles/main.css">
    {{ if it.page_css }}
      <link rel="stylesheet" href="/styles/pages/{{ page_css }}">
    {{ /if }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3.8.2/dist/style.css" integrity="sha256-mMegR8+wGCs9rK2gg5ZlMPiSipjaS2CzJdGoKXvmQf0=" crossorigin="anonymous">
    <script src="/main.js" type="module"></script>
    <link rel="canonical" href="{{ url |> url(true) }}">
  </head>
  <body>
    {{ include "templates/navbar.vto" }}
    <div>
      {{ content }}
    </div>
    {{ include "templates/footer.vto" }}

    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3.8.2/dist/umd/index.js" integrity="sha256-7XH628BCm5WvlJW3EiICy595nR7Rigf/DwCJS2e+KHA=" crossorigin="anonymous"></script>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        docsearch({
          appId: "O7U42EOTRQ",
          apiKey: "bcb89a19824e0100724bc16011dea6f8",
          indexName: "lume",
          container: document.getElementById("search"),
          debug: false
        });
      }, false);
    </script>
  </body>
</html>
