<!DOCTYPE html>
<html lang="en" data-theme="light">
  <script type="text/javascript">
    const root = document.firstElementChild;
    const mediaQuery = "(prefers-color-scheme: dark)";
    const mediaMatch = window.matchMedia;
    const currentMode = mediaMatch(mediaQuery).matches;

    const storeTheme = (targetTheme) => {
      if ("boolean" === typeof targetTheme) {
        targetTheme = targetTheme ? "dark" : "light";
      }
      root.setAttribute("data-theme", targetTheme);
      localStorage.setItem("data-theme", targetTheme);
    };

    const storedTheme = ("data-theme" in localStorage)
      ? localStorage.getItem("data-theme")
      : currentMode;

    storedTheme && storeTheme(storedTheme);
  </script>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Lume</title>

    <meta name="supported-color-schemes" content="light dark">

    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
    <link rel="dns-prefetch" href="https://cdn.jsdelivr.net" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="canonical" href="{{ url |> url(true) }}">
    
    {{ if it.page_css }}
      <link rel="stylesheet" href="/styles/pages/{{ page_css }}">
    {{ /if }}

    <script src="/main.js" type="module"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@docsearch/css@3.2.1/dist/style.css"
      integrity="sha256-brWyd+lKlaU/B5Lhqd/FUXyZQu4rVmbFRsP2E8S2CLw="
      crossorigin="anonymous">
  </head>
  <body>
    {{ include "templates/navbar.vto" }}
    <div>
      {{ content }}
    </div>
    {{ include "templates/footer.vto" }}

    <script
      src="https://cdn.jsdelivr.net/npm/@docsearch/js@3.2.1/dist/umd/index.js"
      integrity="sha256-7XYP2JLQrbyOqBKrAn8sT3l8PG/v2j6C3A5EyBDp9to="
      crossorigin="anonymous" defer></script>
      
    <script type="text/javascript">
      window.addEventListener('DOMContentLoaded', () => {
        document.getElementById("switch-theme").addEventListener("click", (event) => {
          const currentTheme =
            localStorage.getItem("data-theme") == "light" || (getComputedStyle(root).getPropertyValue("color-scheme") == "light");
          storeTheme(!!currentTheme);
        });

        mediaMatch(mediaQuery).addEventListener("change", (event) => {
          storeTheme(event.matches);
        });

        docsearch({
          appId: "O7U42EOTRQ",
          apiKey: "bcb89a19824e0100724bc16011dea6f8",
          indexName: "lume",
          container: document.getElementById("search"),
          debug: false
        });
      }, false);
    </script>
  </body>
</html>
