<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} - Lume</title>
  <link rel="stylesheet" href="/{{ cache_busting }}/styles/main.css">
  <script src="/{{ cache_busting }}/main.js" type="module"></script>
  <script>
    document.documentElement.className = localStorage.getItem("theme") || document.documentElement.className;
  </script>

  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ url | url(true) }}">
  <meta property="og:description" content="{{ description | md(true) | striptags }}">
  <meta property="og:image" content="{{ "/avatar.jpg" | url(true) }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description | md(true) | striptags }}">
  <meta name="twitter:site" content="@misteroom">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="{{ "/avatar.jpg" | url(true) }}">

  {% if page_css %}
  <link rel="stylesheet" href="/{{ cache_busting }}/styles/pages/{{ page_css }}">
  {% endif %}
</head>
<body>
  {% include "templates/navbar.njk" %}
  <div>
    {{ content | safe }}
  </div>
  {% include "templates/footer.njk" %}
</body>
</html>
