---
layout: ./base.njk
page_css: landing.css
---
<div class="landing">
  <header class="landing-header">
    <h1>{{ header.title | safe }}</h1>

    <figure class="landing-header-fire">
      {{ comp.fire() | safe }}
    </figure>

    <div class="landing-install">
      {{ install.title | md | safe }}

      <div class="landing-install-code">
        <pre><code>{{ install.code }}</code></pre>
        <a class="landing-install-cta" href="{{ install.url }}" aria-label="Continue to Getting Started">
          <img src="/icons/arrow-right.svg" inline>
        </a>
      </div>

      <a href="https://deno.land/x/lume"><img src="https://shield.deno.dev/x/lume" alt="deno.land/x/lume" width="144" height="20"></a>
    </div>
  </header>


  <section class="landing-usage">
  {% for block in usage %}
    <div class="landing-usage-text">
      <h2>{{ block.title }}</h2>
      {{ block.description | md | safe }}
    </div>
    <div class="landing-usage-code">
      {{ block.code | md | safe }}
    </div>
  {% endfor %}
  </section>

  <ul class="landing-features">
    {% for feature in features %}
    <li>
      <img src="{{ feature.img }}" inline>
      <h3>{{ feature.title }}</h3>
      {{ feature.description | md | safe }}
    </li>
    {% endfor %}
  </ul>

  <section class="landing-examples">
    <header class="landing-examples-header">
      <h2>{{ examples.title }}</h2>

      <lume-carousel-controls target="#examples" class="lume-carousel-buttons">
        <button value="prev" class="button is-secondary has-icon" aria-label="Previous examples">
          <img src="/icons/arrow-left.svg" inline>
        </button>
        <button value="next" class="button is-secondary has-icon" aria-label="Next examples">
          <img src="/icons/arrow-right.svg" inline>
        </button>
      </lume-carousel-controls>
    </header>

    <lume-carousel role="region" aria-label="Showcase" tabindex="0" class="landing-examples-sites" id="examples">
      {% set showcase = search.page("url=/showcase/") %}
      {% for site in showcase.data.sites | selectattr("img") | slice(8) %}
      <a href="{{ site.url }}" title="{{ site.title }}" class="site-image">
        <img src="{{ site.img }}" alt="{{ site.title }}" width="300" height="200">
      </a>
      {% endfor %}
      <a href="{{ examples.more.href }}" class="landing-examples-cta">{{ examples.more.text }}</a>
    </lume-carousel>
  </section>

  <section class="landing-testimonials">
    <h2>{{ testimonials.title }}</h2>

    <ul class="landing-testimonials-quotes">
    {% for item in testimonials.quotes %}
      <li>
        <blockquote class="landing-testimonials-quote">
          {{ item.text | md | safe }}
          <cite>
            <img src="{{ item.avatar }}" width="50" height="50" alt="{{ item.author }}">
            <a href="{{ item.url }}">
              <strong>{{ item.author }}</strong>
              <time>{{ item.date }}</time>
            </a>
          </cite>
        </blockquote>
      </li>
    {% endfor %}
    </ul>
  </section>

  <section class="landing-suppport">
    <h2>{{ support.title }}</h2>

    <ul class="landing-support-sponsors">
      {% for sponsor in support.sponsors %}
      <li>
        <a href="{{ sponsor.url }}" title="{{ sponsor.name }}">
          <img src="{{ sponsor.img }}" height="100" width="100" alt="{{ sponsor.name }}">
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="landing-support-contribute">
      <h3>{{ support.contribute.title }}</h3>

      {{ support.contribute.description | md | safe }}
    </div>
  </section>
</div>