---
layout: ./base.njk
page_css: plugins.css
---

<main class="plugins">
  <header class="plugins-header">
    <h1>{{ title }}</h1>
    {{ description | md | safe }}
  </header>

  <lume-filter>
    <form class="plugins-filter">
      <select name="status" class="selector">
        <option value="all">All plugins {{ all_total }}</option>
        <option value="enabled">Enabled by default</option>
        <option value="disabled">Disabled by default</option>
      </select>

      {% for id, info in tags_info %}
      <label class="button is-secondary" style="--background-active:{{ info.background }};--accent:{{ info.background }};--color-active:black">
        <input type="checkbox" name="{{ id }}"> {{ info.name }}
      </label>
      {% endfor %}
    </form>

    <ul class="plugins-list">
      {% for page in search.pages("url^=/plugins/ url!=/plugins/", "title") %}
      <li class="plugin {% if page.data.enabled %} is-enabled{% endif %}" data-tags="{{ page.data.tags }}">
        <a href="{{ page.data.url }}" class="plugin-info">
          <strong class="plugin-name">
            {{ page.data.title }}
            {% if page.data.enabled %}
            <span class="tag is-small">Installed</span>
            {% endif %}
          </strong>

          {{ page.data.description | md | safe }}
        </a>

        <nav class="plugin-tags">
          {% for tag in page.data.tags %}
          <a href="?{{ tag }}=on" class="button is-secondary is-small" style="--background:{{ tags_info[tag].background }};--color:black">
            {{ tags_info[tag].name }}
          </a>
          {% endfor %}
        </nav>
      </li>
      {% endfor %}
    </ul>
  </lume-filter>
</main>
