---
layout: ./base.vto
page_css: plugins.css
---

<main class="plugins">
  <header class="plugins-header">
    <h1>{{ title }}</h1> {{ description |> md }}
  </header>

  <div class="plugins-list">
    {{ for id, {title, description, external} of categories }}
    <section class="plugin-section">
      <header>
        <h2>{{ title }}</h2>
        {{ description |> md }}
      </header>

      <ul>
      {{ for plugin of search.pages(`category=${id}`, "title=asc") }}
        <li class="plugin">
          <a href="{{ plugin.url }}" class="plugin-info">
            <h3 class="plugin-name">{{ plugin.title }}</h3>
            {{ plugin.description |> md }}
          </a>
        </li>
      {{ /for }}

      {{ if external }}
        <li class="plugin-external">
          <h3>From the community:</h3>
          <ul>
            {{ for item of external }}
            <li>
              <a href="{{ item.url }}" class="class="plugin-name"">
                {{ item.name }}
              </a>
              {{ item.description |> md }}
            </li>
            {{ /for }}
          </ul>
        </li>
      {{ /if }}
      </ul>
    </section>
    {{ /for }}
  </div>
</main>
