._display {
  font: var(--text-display);
  letter-spacing: var(--text-display-spacing);
  margin: 0;
}
._heading {
  font: var(--text-heading);
  letter-spacing: var(--text-heading-spacing);
  margin: 0;
}
._title {
  font: var(--text-title);
  letter-spacing: var(--text-title-spacing);
  margin: 0;
}
._body {
  font: var(--text-body);
  margin: 0;
}
._caption {
  font: var(--text-caption);
  margin: 0;
}